.basket_cont {
  padding: 10px;
  background-color: #c8edf2;
  border-radius: 10px 0;
  margin: 5px;
}

.basket {
  font-weight: 700;
}

.basket_item {
  background-color: white;
  border-radius: 5px;
  color: rgb(50, 50, 50);
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  margin: 5px;
}
.item_id,
.item_count {
  margin: 5px;
}

.item_count {
  text-align: center;
}

.id_container,
.count_container {
  width: 20%;
}
