.container {
  border: none;
  background-color: #f1fbfd;
  margin-top: 10px;
  padding: 5px;
  color: rgb(50, 50, 50);
  border-radius: 15px;
  -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
  -moz-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
  box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
  width: 100%;
}

.product_title {
  text-transform: uppercase;
  font-weight: 700;
}

.product_price {
  color: rgb(57, 57, 57);
  text-decoration: line-through;
}

.product_price_disc {
  color: red;
  font-weight: 700;
}

.price_container {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
}

/* .btn_add,
.btn_del {
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
} */

.btns_container {
  display: flex;
  justify-content: space-around;
}
