.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
  padding-bottom: 5px;
  border: none;
  background-color: #f1fbfd;
  margin-top: 10px;
  color: rgb(50, 50, 50);
  -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
  -moz-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
  box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
  width: 100%;
}

.menu a {
  color: rgb(50, 50, 50);
  font-weight: 600;
  text-decoration: none;
}

.menu a:visited {
  color: rgb(50, 50, 50);
}

.menu .active {
  border-bottom: 2px solid black;
  padding-bottom: 5px;
}
